In [1]:
import pandas as pd

In [14]:
colnames=['code_commune', 'finess_geo', 'distance', 'duree_min']

Lecture des différentes tables chargées, pour être sure d'avoir le max des combinaisons possibles que je devais récupérer

In [25]:
distance = pd.read_csv('/Users/zoefontier/Desktop/01.Chirurgie reconstructive/01.data/results_400.csv', encoding="latin", names=colnames, header=None)

distance0 = pd.read_csv('/Users/zoefontier/Desktop/01.Chirurgie reconstructive/01.data/results_400b.csv', encoding="latin", names=colnames, header=None)

distance1 = pd.read_csv('/Users/zoefontier/Desktop/01.Chirurgie reconstructive/01.data/results1_400.csv', encoding="latin", names=colnames, header=None)

distance2 = pd.read_csv('/Users/zoefontier/Desktop/01.Chirurgie reconstructive/01.data/results2_400.csv', encoding="latin", names=colnames, header=None)

distance3 = pd.read_csv('/Users/zoefontier/Desktop/01.Chirurgie reconstructive/01.data/results3_400.csv', encoding="latin", names=colnames, header=None)

distance4 = pd.read_csv('/Users/zoefontier/Desktop/01.Chirurgie reconstructive/01.data/results4_400.csv', encoding="latin", names=colnames, header=None)

/Users/zoefontier/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [24]:
distance.head()
len(distance)

461452

In [19]:
distance.describe()

            distance      duree_min
count  459273.000000  459273.000000
mean      269.765879     181.213770
std       116.355199      70.662107
min         0.228000       0.303333
25%       181.059900     130.135000
50%       257.668200     175.550000
75%       352.581600     227.031667
max       900.612700     855.395000

In [22]:
combinaison_unique = distance.drop_duplicates()

In [29]:
len(combinaison_unique)

736855

In [26]:
distance_f = pd.concat([distance, distance0,distance1,distance2,distance3,distance4])

In [27]:
len(distance_f)

916066

Pour avoir les combinaison unique

In [28]:
combinaison_unique = distance_f.drop_duplicates()

In [73]:
len(combinaison_unique)

736855

In [68]:
combinaison_unique.to_csv('distance_recup_v0.csv')

Combinaison dans la base de données que l'on a récupéré, pour comparer avec les combinaison dans le dataframe initial et ainsi récupérer celles qui manquent sans refaire tout tourner.

In [59]:
combinaison_v0=list(zip(combinaison_unique['code_commune'],combinaison_unique['finess_geo']))

Liste des communes manquante spour comparer avec les communes qui manquaient par rapport à la base capgemini

In [31]:
#nom des communes dans la base récupérée
commune=combinaison_unique['code_commune'].unique()

In [38]:
len(commune)

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [39]:
commune

array(['04136', '01297', '01237', ..., '97420', '97409', '97421'],
      dtype=object)

fichier avec villes manquantes

In [70]:
code_commune_manquant = pd.read_table(
    '/Users/zoefontier/Desktop/01.Chirurgie reconstructive/01.data/code_commune_manquant.txt',names=["code_commune"],header=None,sep=" ")

In [71]:
code_commune_manquant.head()

  code_commune
0        08452
1        09324
2        97408
3        07282
4        02087

In [44]:
manquant_initial=code_commune_manquant['code_commune'].tolist()

In [54]:
encore_manquante=list(set(manquant_initial) - set(commune)) 
len(encore_manquante)

#il manque encore 107 communes pour lesquelles on a pas du tout de combinaison avec les établissements.

107

In [72]:
encore_manquante

['98803',
 '98613',
 '98808',
 '98725',
 '98832',
 '98746',
 '98833',
 '98732',
 '97604',
 '97606',
 '98714',
 '97502',
 '98806',
 '98826',
 '98901',
 '98744',
 '98756',
 '98733',
 '97612',
 '98816',
 '98755',
 '98748',
 '98727',
 '98754',
 '97605',
 '99138',
 '97610',
 '98719',
 '98809',
 '98821',
 '97607',
 '98711',
 '98736',
 '97611',
 '98811',
 '98812',
 '98751',
 '98750',
 '98801',
 '97613',
 '98729',
 '98735',
 '97701',
 '98728',
 '98718',
 '98745',
 '98825',
 '98758',
 '98724',
 '98713',
 '98738',
 '98815',
 '98741',
 '98805',
 '98717',
 '97609',
 '98802',
 '98740',
 '97801',
 '98715',
 '98730',
 '98742',
 '97603',
 '98747',
 '98737',
 '98810',
 '97501',
 '97617',
 '98726',
 '98757',
 '98831',
 '98829',
 '98807',
 '98721',
 '98753',
 '98823',
 '98611',
 '97602',
 '98712',
 '98720',
 '98817',
 '98822',
 '98814',
 '98723',
 '97615',
 '98819',
 '97608',
 '98828',
 '98743',
 '98818',
 '98820',
 '98804',
 '98731',
 '97614',
 '98716',
 '98734',
 '98813',
 '98612',
 '98827',
 '97601',
 '98752',
 '98722',
 '97616',
 '98830',
 '98749',
 '98824',
 '98739']

On va récupérer ces communes là, créer une nouvelle liste de combinasions et refaire tourner les datas sur ces combinaisons

In [50]:
pairs = pd.read_table(
    '/Users/zoefontier/Downloads/pairs_400.csv',sep=",")

/Users/zoefontier/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3338: DtypeWarning: Columns (0,4) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [51]:
pairs.head()

,finess_geo,join,latitude_fi,longitude_fi,code_commune,latitude_com,longitude_com,distance
0,620000026,1,50.4186,1.56668,08452,49.477410,4.421124,332.524043
1,620000026,1,50.4186,1.56668,02087,49.447605,3.269859,217.096159
2,620000026,1,50.4186,1.56668,61238,48.869129,0.028533,242.221397
3,620000026,1,50.4186,1.56668,02011,49.376267,3.183347,213.064467
4,620000026,1,50.4186,1.56668,02710,49.780519,3.218297,195.933445

In [65]:
len(pairs)

846683

In [55]:
pairs_bis=pairs.loc[pairs['code_commune'].isin(encore_manquante)]

In [57]:
len(pairs_bis)
#en fait il ne manque pas de commune spar rapport à la base pairs_400 récupérée par Eric.

0

In [60]:
combinaison_pairs=list(zip(pairs['code_commune'],pairs['finess_geo']))

In [62]:
pas_recupere=list(set(combinaison_pairs) - set(combinaison_v0))

In [67]:
pairs_bis=pairs.loc[pairs['code_commune','finess_geo'].isin(pas_recupere)]

KeyError: ('code_commune', 'finess_geo')